@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/vogue");
@import url("http://fonts.cdnfonts.com/css/montserrat");
html, body {
  box-sizing: border-box;
  line-height: 1.7em;
  font-family: "Libre Baskerville", sans-serif;
  color: #3c3e3e;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: auto;
}

.hero p {
  width: 80%;
  margin: auto;
}

.link a {
  color: white;
}

.container {
  display: block;
}

.header {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
.header__top {
  background-color: black;
  height: 50px;
  width: 100%;
}
.header__top .adress-top {
  float: right;
  color: #E0C15B;
  margin: auto 10px auto auto;
}
.header__main {
  width: 100%;
  background-color: white;
  display: inline;
}
.header__main__content {
  height: 90px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  text-align: center;
  margin: auto;
}
.header__main__content .logo {
  margin: auto 0 auto 10px;
}
.header__main__content .logo img {
  width: 80px;
  height: 80px;
  margin: auto;
}
.header__main__content .menu {
  margin: auto 0 auto 0;
}
.header__main__content .menu li {
  display: inline;
  margin: 20px;
}
.header__main__content .menu li a {
  color: black;
  font-weight: bold;
}
.header__main__content .menu li a:hover {
  color: #E0C15B;
}
.header__main .adress {
  color: black;
  margin: auto 0 20px 0;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  float: right;
}
.header__main .adress .adress-box {
  flex: 1;
  font-weight: bold;
  margin-left: 15px;
}
.header__main .adress .adress-box a {
  color: black;
}
.header__bottom {
  height: 30px;
  background-color: #1f2022;
  text-align: center;
}
.header__bottom .treatments {
  text-align: center;
  margin: auto;
}
.header__bottom .treatments li {
  display: inline;
}
.header__bottom .treatments li a {
  color: white;
}
.header__bottom .treatments li a:hover {
  color: #E0C15B;
}

.hero {
  height: 500px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  margin: 0;
  background-image: url("public/images/pexels-samad-ismayilov-735552.jpg");
}
.hero__links {
  margin: 15px auto;
}
.hero__links li {
  display: inline;
}
.hero__links li a {
  color: white;
  margin: 10px;
}
.hero__links li a:hover {
  color: yellow;
}
.hero__main {
  float: right;
  top: 200px;
  right: 10px;
  width: 40%;
  position: absolute;
  text-align: left;
}
.hero__main h1 {
  font-family: "Vogue", sans-serif;
  filter: drop-shadow(0 0 28.5px #e0c15b);
  color: #E0C15B;
  margin: 15px auto;
}
.hero__main p {
  margin: 15px auto;
  color: white;
}
.hero__main .line {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero__main .line hr {
  color: #E0C15B;
  width: 60%;
}
.hero__main .line a {
  color: #E0C15B;
}

.about {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
  height: 80vh;
  margin: 20px auto;
  text-align: center;
}
.about__infos {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  text-align: left;
  padding-top: 0;
}
.about__infos__content {
  width: 80%;
  margin: auto;
  margin: 0 auto auto 0;
  text-align: left;
}
.about__infos__content .subtitle {
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
  margin: 0px auto;
}
.about__infos__content p {
  margin: auto;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.about__infos__content .numbers {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px auto auto 0;
}
.about__infos__content .numbers .number {
  display: block;
  font-family: "Poppins";
  font-weight: bold;
}
.about__infos__content .numbers .number span {
  font-family: "montserrat";
  font-size: 2.3em;
  color: #E0C15B;
  font-weight: 800;
}
.about__image {
  flex: 1;
  width: 80%;
  margin: auto;
  margin: 20px auto;
}
.about__image img {
  width: 460px;
  border-radius: 15px;
  height: 430px;
  margin: auto 0;
}

.specialities {
  display: block;
  text-align: center;
}
.specialities h2 {
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
}
.specialities p {
  margin: 15px auto;
  width: 80%;
  margin: auto;
  font-family: "Libre Baskerville", sans-serif;
}
.specialities__list {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin: 40px auto;
}
.specialities__list .speciality {
  position: relative;
  margin: 15px;
  border-radius: 15px;
  width: 250px;
  height: 220px;
}
.specialities__list .speciality img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.specialities__list .speciality h3 {
  margin: -120px auto;
  text-align: center;
  color: white;
  font-family: "Vogue", sans-serif;
}

.center {
  background-color: black;
  height: 500px;
  text-align: center;
  padding-top: 40px;
}
.center h2 {
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
  margin: 5px auto;
  filter: drop-shadow(0 0 28.5px #e0c15b);
  font-family: "Vogue", "sans-serif";
}
.center .text {
  width: 80%;
  margin: auto;
  margin: 50px auto;
  color: white;
  font-family: "libre Baskerville", sans-serif;
}
.center .slider {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px auto;
}
.center .slider__images {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.center .slider__images img {
  flex: 1;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 0px;
}

.testimonies {
  display: block;
  text-align: center;
  height: auto;
}
.testimonies h2 {
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
  font-family: "Vogue", sans-serif;
}
.testimonies .text {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: 40px auto;
}
.testimonies__list {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto;
  height: 400px;
  background-color: #FBFBFB;
  justify-content: space-around;
}
.testimonies__list .testimony {
  display: block;
  margin: 20px;
  width: 200px;
  padding: 15px;
  height: auto;
  border-radius: 15px;
  background-color: white;
  text-align: left;
}
.testimonies__list .testimony__top {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}
.testimonies__list .testimony__top img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: auto 0 auto 0;
}
.testimonies__list .testimony__top p {
  color: #3c3e3e;
  font-weight: bold;
  text-align: left;
}
.testimonies__list .testimony__top p span {
  color: #E0C15B;
  font-weight: bold;
}
.testimonies__list .testimony__text {
  margin: 50px auto auto 0;
  text-align: left;
  width: 100%;
}

.blog {
  text-align: center;
  display: block;
  margin: auto;
  height: auto;
}
.blog .subtitle {
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
  margin: 0 auto;
}
.blog .text {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  width: 80%;
  margin: auto;
  margin: 40px auto;
}
.blog .cards {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  height: 500px;
}
.blog .cards__card {
  margin: 15px;
  height: 350px;
  width: 270px;
  display: block;
  border-radius: 15px;
  position: relative;
}
.blog .cards__card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.blog .cards__card__info {
  background-color: #3c3e3e;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 35%;
  top: 70%;
}
.blog .cards__card__info h4 {
  font-weight: bold;
  color: white;
}
.blog .cards__card__info .text {
  width: 80%;
  color: white;
}
.blog .link {
  margin: 10px auto;
  background-color: #E0C15B;
  border: 1px #E0C15B solid;
  height: 50px;
  width: 250px;
  text-align: center;
}
.blog .link a {
  color: white;
}

.speciality-hero {
  height: 500px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  background: url("public/images/epilation-laser-centre-du-champs-de-mars-1536x1171.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.speciality-hero h1 {
  font-family: "Vogue", sans-serif;
  filter: drop-shadow(0 0 28.5px #e0c15b);
  color: #E0C15B;
  margin: 150px auto 50px auto;
  color: white;
}
.speciality-hero .text {
  color: white;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  width: 50%;
}
.speciality-hero .btn {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 2px #E0C15B solid;
  text-align: center;
  background-color: #E0C15B;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  margin: 30px auto;
  border: 3px solid white;
  display: table;
  width: 200px;
}
.speciality-hero .btn a {
  color: white;
  font-weight: bold;
  font-family: "Poppins";
  vertical-align: middle;
  margin: auto;
}

.content {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  margin: 30px auto;
}
.content__text {
  flex: 1;
  width: 80%;
  padding-top: 40px;
  text-align: left;
}
.content__text .subtitle {
  font-family: "Poppins", sans-serif;
  color: #E0C15B;
  line-height: 1.2em;
  font-size: 2.5em;
  margin: 0px auto 20px auto;
  width: 70%;
}
.content__text .text {
  width: 70%;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: 40px auto;
  text-align: left;
}
.content__text .text ul {
  text-align: left;
  margin: 40px auto;
  width: 70%;
}
.content__text .text ul li {
  margin: 40px auto;
}
.content__image {
  flex: 1;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
}
.content__image__content {
  margin: 40px auto;
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  height: 250px;
  flex-direction: row;
  justify-content: baseline;
}
.content__image__content .item {
  width: 250px;
  height: 150px;
  height: 80px;
  border-radius: 30px;
  border: 5px #3c3e3e solid;
  text-align: center;
  margin: 5px;
  display: table;
}
.content__image__content .item img {
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  margin: 15px 0 auto auto;
}
.content__image__content .item span {
  margin: 30px auto auto 0;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
}
.content__image img {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  margin: 50px auto;
}

.price {
  width: 100%;
  display: block;
  flex: 1;
  text-align: center;
}
.price .title {
  font-family: "Vogue", sans-serif;
  filter: drop-shadow(0 0 28.5px #e0c15b);
  color: #E0C15B;
  margin: auto;
}
.price__list {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin: 40px auto;
  text-align: center;
}
.price__list .price-card {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 250px;
}
.price__list .price-card img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.price__list .price-card h3 {
  font-weight: bold;
  margin: 60px auto 5px auto;
}
.price__list .price-card .amount {
  margin: 0px auto;
}
.price__list .price-card .amount {
  font-weight: 300;
}
.price .link {
  background-color: #E0C15B;
  border: 1px #E0C15B solid;
  height: 50px;
  width: 250px;
  text-align: center;
  margin: auto;
}

.blog-hero {
  height: 500px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 20px;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  background-image: url(public/images/pexels-samad-ismayilov-735552.jpg);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-hero__image {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  padding-top: 30px;
  margin: auto;
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.1));
}
.blog-hero__image img {
  height: 160px;
  width: 350px;
  margin: auto 120px;
  border-radius: 15px;
}
.blog-hero__image p {
  margin: 20px auto;
  width: 60%;
  color: white;
  text-align: left;
}
.blog-hero__image p span {
  color: white;
  margin: 30px auto;
  font-weight: 700;
  font-size: bold;
  text-align: left;
}
.blog-hero__articles {
  flex: 1;
  display: block;
}
.blog-hero__articles .article {
  margin: 30px auto 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
}
.blog-hero__articles .article img {
  width: 180px;
  height: 110px;
  border-radius: 15px;
}
.blog-hero__articles .article span {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: auto 40px auto 0;
  text-align: left;
  font-weight: bold;
  width: 60%;
  color: white;
}

.articles {
  display: block;
  padding-top: 40px;
}
.articles h2 {
  color: #E5E5E5;
  text-align: left;
}
.articles__content {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px auto;
}
.articles__content .article {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  width: 250px;
  margin: auto;
}
.articles__content .article img {
  width: 210px;
  height: 120px;
  border-radius: 15px;
}
.articles__content .article .date {
  color: #E0C15B;
  margin: 15px auto 5px 0;
  text-align: left;
}
.articles__content .article .article__title {
  font-family: "Poppins";
  text-align: left;
  font-size: 1.5em;
  margin: 5px auto 5px 0;
}
.articles__content .article p {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: 10px auto auto 0;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  width: 90%;
}
.articles__content .article p span {
  font-size: 0.8em;
  font-weight: 300;
}

.pagination {
  text-align: center;
  margin: auto;
  width: 80%;
  margin: auto;
}
.pagination li {
  display: inline;
}
.pagination li a {
  color: black;
}
.pagination li a:hover {
  color: #E0C15B;
}

.avis {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px auto;
  height: auto;
}
.avis__content {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}
.avis__content__form {
  display: block;
  flex: 1;
  width: 80%;
}
.avis__content__form p {
  margin: 40px auto auto 0;
  color: #E0C15B;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.4em;
  text-align: left;
}
.avis__content__form h1 {
  font-size: 3em;
  color: #1f2022;
  margin: 40px auto;
}
.avis__content__form .form {
  display: block;
  height: 430px;
}
.avis__content__form .form .name {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto 10px auto;
}
.avis__content__form .form .name label {
  flex: 1;
  width: 95%;
  margin: 10px;
}
.avis__content__form .form .name label input {
  width: 90%;
  margin: auto;
  height: 40px;
  padding-left: 20px;
  text-align: left;
  font-size: 1em;
  border: #E5E5E5 1px solid;
}
.avis__content__form .form .name label .message {
  width: 95%;
  margin: auto;
  text-align: left;
  height: 250px;
  padding-left: 20px;
  padding-top: 0;
  font-size: 1em;
  border: #E5E5E5 1px solid;
}
.avis__content__form .form button {
  margin: 5px 12px auto auto;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 2px #E0C15B solid;
  text-align: center;
  background-color: #E0C15B;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  float: right;
}
.avis__content__image {
  flex: 1;
  width: 80%;
  margin: auto;
  padding-top: 0;
  width: 200px;
  height: 200px;
  padding-top: 80px;
  padding-left: 80px;
  background-color: red;
  margin: 40px auto auto 0;
  position: relative;
}
.avis__content__image .white {
  height: 250px;
  width: 430px;
  display: block;
  top: 80px;
  right: 80px;
  z-index: 99999;
  background-color: white;
  text-align: left;
  padding-top: 0;
  padding-left: 20px;
  border-radius: 15px;
  position: relative;
}
.avis__content__image .white .avis-author {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: baseline;
}
.avis__content__image .white .avis-author img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 0;
}
.avis__content__image .white .avis-author .name {
  margin: 0 5px;
}
.avis__content__image .white .avis-author .name span {
  font-weight: bold;
  color: #E0C15B;
  font-size: 1.5em;
}
.avis__content__image .white .avis-author .name .date {
  color: grey;
  margin: 0 auto;
}
.avis__content__image .white p {
  width: 70%;
  font-size: 0.9em;
  text-align: left;
  margin: 10px auto auto 10px;
}
.avis__content__image .white .date {
  margin: 10px auto auto 10px;
  color: grey;
  font-size: 0.9em;
}

.avis-main {
  width: 100%;
  display: block;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E5E5E5;
}
.avis-main__item {
  width: 90%;
  height: 230px;
  border-radius: 15px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  margin: 80px auto;
}
.avis-main__item .avis-author {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 35%;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.avis-main__item .avis-author img {
  border-radius: 50px;
  height: 70px;
  width: 70px;
  margin: auto auto auto 80px;
}
.avis-main__item .avis-author p {
  font-weight: bold;
  margin: auto auto auto 20px;
  color: #1f2022;
  text-align: left;
}
.avis-main__item .avis-author p strong {
  color: #E0C15B;
  font-size: 1.6em;
  font-weight: bold;
}
.avis-main__item .avis-author .grey {
  color: grey;
  font-weight: bold;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
}
.avis-main__item .avis-text {
  width: 65%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.avis-main__item p {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  width: 90%;
  margin: 20px auto auto 0;
  text-align: left;
}
.avis-main__item .grey {
  color: grey;
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  text-align: left;
  margin: 5px auto 50px 0;
  font-size: 0.9em;
}

.contact {
  width: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #E5E5E5;
  border-radius: 15px;
  text-align: center;
  height: 95vh;
  margin: 60px auto 30px auto;
}
.contact__image {
  flex: 1;
  display: block;
  width: 80%;
  margin: auto;
  margin: 80px auto;
  text-align: left;
}
.contact__image__content {
  width: 90%;
  margin: auto;
  text-align: left;
}
.contact__image__content img {
  border-radius: 15px;
  text-align: left;
  width: 410px;
  height: 130px;
  margin: auto 0 20px auto;
}
.contact__image__content .text {
  font-weight: 900;
  color: #1f2022;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}
.contact__image__content .email {
  font-weight: bold;
  width: 80%;
  margin: auto;
  text-align: left;
  margin: 40px auto auto 0;
  color: #E0C15B;
}
.contact__image__content .phone {
  text-align: left;
  margin: 20px auto;
}
.contact__image__content .linkedin {
  margin: 30px auto auto 0;
  text-align: left;
}
.contact__form {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  text-align: left;
}
.contact__form .subtitle {
  font-size: 2.5em;
  line-height: 1.1em;
  margin: 40px auto auto 0;
}
.contact__form .form {
  display: block;
  height: 430px;
}
.contact__form .form .name {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto 10px auto;
}
.contact__form .form .name label {
  flex: 1;
  width: 95%;
  margin: 10px;
}
.contact__form .form .name label input {
  width: 90%;
  margin: auto;
  height: 40px;
  padding-left: 20px;
  text-align: left;
  font-size: 1em;
  border: #E5E5E5 1px solid;
}
.contact__form .form .name label .message {
  width: 95%;
  margin: auto;
  text-align: left;
  height: 250px;
  padding-left: 20px;
  padding-top: 0;
  font-size: 1em;
  border: #E5E5E5 1px solid;
}
.contact__form .form button {
  margin: 5px 12px auto auto;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: 2px #E0C15B solid;
  text-align: center;
  background-color: #E0C15B;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  float: left;
}

.footer {
  background-color: #1f2022;
  height: 120px;
  width: 100%;
  text-align: center;
}
.footer__content {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin: auto;
}
.footer__content .logo {
  float: right;
  display: table;
  height: 100%;
}
.footer__content .logo img {
  width: 50px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.footer__content .menu {
  margin: auto 0;
}
.footer__content .menu li {
  text-align: inline;
}
.footer__content .menu li a {
  color: white;
}
.footer__content .menu li a:hover {
  color: #E0C15B;
}
.footer__content .adress {
  margin: auto 0 auto auto;
  float: right;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__content .adress .adress-box {
  color: white;
}

/*responsive for 1024px*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container .header__main__content {
    width: 95%;
    margin: auto;
    text-align: left;
  }
  .container .header__main__content .logo {
    width: 90px;
    margin: auto 0 auto 10px;
  }
  .container .header__main__content .menu {
    margin: auto 0 auto 0;
    background-color: red;
  }
  .container .about {
    width: 90%;
    height: auto;
  }
  .container .about__infos {
    margin: 30px auto;
  }
  .container .specialities__list {
    width: 90%;
  }
  .container .testimonies__list {
    justify-content: space-between;
  }
  .container .testimonies__list .testimony {
    width: 220px;
  }
  .container .blog .cards {
    width: 90%;
  }
  .container .content {
    margin: 10px auto;
  }
  .container .content__image__content .item img {
    width: 40px;
    height: 40px;
  }
  .container .content__image img {
    width: 400px;
    height: 400px;
  }
  .container .content_text {
    width: 95%;
    padding-top: 10px;
  }
  .container .price__list {
    width: 95%;
  }
  .container .price__list .price-card {
    width: 200px;
  }
  .container .blog-hero {
    padding-top: 0;
  }
  .container .blog-hero__image {
    padding-top: 0;
  }
  .container .blog-hero__image img {
    height: 140px;
    margin: 5px auto;
    width: 260px;
  }
  .container .blog-hero__articles .article {
    margin: 15px auto 0 auto;
  }
  .container .blog-hero__articles .article span {
    width: 55%;
  }
  .container .articles__content {
    width: 90%;
  }
  .container .articles__content .article {
    width: 230px;
    margin: 10px;
  }
  .container .avis__content {
    width: 100%;
  }
  .container .contact {
    height: auto;
    width: 95%;
  }
  .container .contact__image {
    width: 90%;
  }
  .container .contact__image__content img {
    width: 350px;
    height: 110px;
  }
}
/*responsive for 768px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container .header {
    display: none;
  }
  .container .about {
    height: auto;
    display: block;
    text-align: center;
  }
  .container .about__infos {
    margin: auto;
  }
  .container .about__image {
    text-align: center;
  }
  .container .about__image img {
    width: 400px;
    height: 350px;
    margin: 10px auto;
  }
  .container .specialities__list {
    width: 95%;
  }
  .container .specialities__list .speciality {
    width: 220px;
    height: 190px;
    margin: 5px;
  }
  .container .specialities__list .speciality h3 {
    margin: -110px auto;
  }
  .container .center .slider {
    width: 95%;
  }
  .container .center .slider__images {
    width: 100%;
  }
  .container .center .slider__images img {
    width: 150px;
    height: 150px;
  }
  .container .testimonies__list {
    margin: 40px auto;
    height: auto;
  }
  .container .testimonies__list .testimony {
    width: 250px;
  }
  .container .blog .cards {
    width: 95%;
  }
  .container .blog .cards__card {
    width: 200px;
    height: 280px;
  }
  .container .content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  .container .content__text {
    text-align: center;
    margin: auto;
  }
  .container .content__text .subtitle {
    width: 90%;
  }
  .container .content__text .text {
    width: 90%;
  }
  .container .content__image {
    margin: auto;
  }
  .container .content__image__content {
    justify-content: space-around;
    text-align: center;
    height: 100px;
    margin: auto 0;
  }
  .container .content__image__content .item {
    width: 220px;
    margin: 10px;
  }
  .container .content__image__content .item img {
    width: 40px;
    height: 40px;
  }
  .container .content__image img {
    width: 430px;
    height: 330px;
  }
  .container .blog-hero {
    height: auto;
    padding-bottom: 50px;
    padding-left: 10px;
  }
  .container .articles__content {
    width: 90%;
  }
  .container .articles__content .article {
    margin: 10px;
    width: 300px;
  }
  .container .avis__content {
    width: 100%;
    flex-direction: column-reverse;
  }
  .container .avis-main__item {
    width: 95%;
  }
  .container .avis-main__item .avis-author {
    display: block;
    width: 25%;
    text-align: center;
  }
  .container .avis-main__item .avis-author img {
    width: 60px;
    height: 60px;
    margin: 50px auto 0 auto;
  }
  .container .avis-main__item .avis-author p {
    text-align: center;
    margin: 0px auto;
  }
  .container .avis-main__item .avis-text {
    width: 70%;
  }
  .container .contact {
    height: auto;
    width: 95%;
    flex-direction: column-reverse;
  }
  .container .contact__image {
    width: 80%;
    margin: 40px auto;
  }
  .container .contact__image__content {
    margin: 10px auto;
  }
  .container .contact__image__content img {
    width: 350px;
    margin: 20px auto;
    height: 110px;
  }
}
/*responsive for 575px*/
@media screen and (min-width: 575px) and (max-width: 767px) {
  .header {
    display: none;
  }
  .avis {
    padding-bottom: 50px;
  }
  .avis__content {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .avis__content__image {
    display: none;
  }
  .avis__content__form h1 {
    line-height: 2em;
  }
  .avis-main__item {
    margin: 20px auto;
    width: 80%;
    height: auto;
    display: block;
    padding-left: 15x;
  }
  .avis-main__item .avis-author {
    width: 100%;
    margin: 15px auto;
  }
  .avis-main__item .avis-author img {
    height: 50px;
    width: 50px;
    margin: 15px auto;
  }
  .avis-main__item .avis-text {
    width: 100%;
  }
  .avis-main__item .avis-text p {
    margin: 5px auto auto 0;
  }
  .about {
    height: auto;
    text-align: center;
  }
  .about__infos {
    text-align: center;
  }
  .about__infos__content {
    margin: 10px auto;
  }
  .about__image img {
    width: 350px;
    height: 280px;
    margin: 10px auto;
  }
  .specialities__list {
    width: 95%;
  }
  .specialities__list .speciality {
    width: 200px;
    height: 200px;
  }
  .center {
    height: 550px;
  }
  .center .slider {
    width: 95%;
  }
  .center .slider__images {
    width: 100%;
  }
  .center .slider__images img {
    width: 150px;
    height: 150px;
  }
  .testimonies__list {
    height: auto;
  }
  .content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px auto;
  }
  .content__text {
    text-align: center;
    margin: auto;
  }
  .content__text .subtitle {
    width: 100%;
    text-align: left;
  }
  .content__text .text {
    width: 100%;
  }
  .content__image {
    margin: auto;
  }
  .content__image__content {
    justify-content: space-around;
    text-align: center;
    height: 160px;
    margin: auto 0;
  }
  .content__image__content .item {
    width: 220px;
    margin: 10px;
  }
  .content__image__content .item img {
    width: 40px;
    height: 40px;
  }
  .content__image img {
    width: 350px;
    height: 280px;
  }
  .blog-hero {
    height: auto;
    padding-bottom: 50px;
  }
  .articles__content {
    width: 95%;
  }
  .articles__content .article {
    width: 210px;
    margin: 10px;
  }
  .articles__content .article img {
    width: 200px;
    height: 120px;
  }
  .price__list {
    width: 95%;
  }
  .blog .cards {
    height: auto;
    text-align: center;
  }
  .blog .cards__card {
    margin: 15px auto 10px auto;
  }
  .contact {
    height: auto;
    width: 95%;
    flex-direction: column-reverse;
  }
  .contact__image {
    width: 80%;
    margin: 40px auto;
  }
  .contact__image__content {
    margin: 10px auto;
  }
  .contact__image__content img {
    width: 350px;
    margin: 20px auto;
    height: 110px;
  }
}
/*responsive for 350px*/
@media screen and (min-width: 350px) and (max-width: 574px) {
  .header {
    display: none;
  }
  .speciality-hero .text {
    width: 80%;
  }
  .about {
    height: auto;
    text-align: center;
    width: 95%;
  }
  .about__infos {
    text-align: center;
  }
  .about__infos__content {
    margin: 10px auto;
    width: 100%;
  }
  .about__infos__content .numbers .number span {
    font-size: 2em;
  }
  .about__image img {
    width: 320px;
    height: 250px;
    margin: 10px auto;
  }
  .specialities p {
    width: 95%;
    text-align: left;
  }
  .specialities__list {
    width: 100%;
  }
  .specialities__list .speciality {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .specialities__list .speciality h3 {
    margin: -90px auto;
  }
  .center {
    height: auto;
  }
  .center .slider {
    width: 95%;
    overflow: hidden;
  }
  .center .slider__images {
    width: 100%;
  }
  .center .slider__images img {
    width: 150px;
    height: 150px;
  }
  .testimonies__list .testimony {
    width: 250px;
  }
  .testimonies__list {
    height: auto;
  }
  .blog .cards {
    height: auto;
    text-align: center;
  }
  .blog .cards__card {
    margin: 15px auto 10px auto;
  }
  .content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px auto;
  }
  .content__text {
    text-align: center;
    margin: auto;
    width: 95%;
  }
  .content__text .subtitle {
    width: 100%;
    text-align: left;
  }
  .content__text .text {
    width: 100%;
  }
  .content__image {
    margin: auto;
  }
  .content__image__content {
    justify-content: space-around;
    text-align: center;
    height: 330px;
    margin: auto 0;
  }
  .content__image__content .item {
    width: 180px;
    margin: 10px;
  }
  .content__image__content .item img {
    width: 40px;
    height: 40px;
  }
  .content__image img {
    width: 330px;
    height: 260px;
  }
  .price__list {
    width: 100%;
  }
  .price__list .price-card {
    width: 150px;
    height: auto;
    margin: 5px;
  }
  .price__list .price-card img {
    width: 150px;
    height: 150px;
  }
  .blog-hero {
    height: auto;
    padding-bottom: 50px;
    text-align: center;
  }
  .blog-hero__image {
    text-align: center;
  }
  .blog-hero__image img {
    margin: 10px auto 0 auto;
    width: 330px;
  }
  .blog-hero__image p {
    width: 90%;
  }
  .blog-hero__articles {
    margin: auto;
    text-align: center;
  }
  .blog-hero__articles__content {
    text-align: center;
  }
  .blog-hero__articles__content .article {
    margin: 10px auto 0 auto;
    text-align: center;
  }
  .blog-hero__articles__content .article img {
    margin: auto;
  }
  .articles__content .article {
    width: 350px;
    margin: 20px auto;
  }
  .articles__content .article img {
    width: 250px;
    height: 130px;
  }
  .avis {
    padding-bottom: 50px;
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .avis-main__item {
    margin: 20px auto;
    width: 80%;
    height: auto;
    display: block;
    padding-left: 40px;
  }
  .avis-main__item .avis-author {
    width: 100%;
    margin: 15px auto;
  }
  .avis-main__item .avis-author img {
    height: 50px;
    width: 50px;
    margin: 15px auto;
  }
  .avis-main__item .avis-text {
    width: 100%;
  }
  .avis-main__item .avis-text p {
    margin: 5px auto auto 0;
  }
  .contact {
    height: auto;
    width: 95%;
    flex-direction: column-reverse;
  }
  .contact__image {
    width: 80%;
    margin: 40px auto;
  }
  .contact__image__content {
    margin: 10px auto;
    width: 100%;
  }
  .contact__image__content img {
    width: 250px;
    margin: 20px auto;
    height: 90px;
  }
}/*# sourceMappingURL=main.css.map */