@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/vogue');
@import url('http://fonts.cdnfonts.com/css/montserrat');

$yellow: #E0C15B;
$black: black;
$white: white;
$grey-light: #E5E5E5;
$bg: #FBFBFB;
$black-dark: #1f2022;
$black-text: #3c3e3e;

@mixin title ($color:$yellow) {
    font-family: 'Vogue', sans-serif;
    filter: drop-shadow(0 0 28.5px #e0c15b);
    color: $color;
}

@mixin subtitle(){
    font-family: 'Poppins', sans-serif;
    color: $yellow;
    line-height: 1.2em;
    font-size: 2.5em;
}

@mixin flex($flex-direction:row){
    flex-direction: $flex-direction;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin image(){
    border-radius: 15px;

}

@mixin text{
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
}

@mixin content(){
    width: 80%;
    margin: auto;
}

@mixin link {
    background-color: $yellow;
    border: 1px $yellow solid;
    height: 50px;
    width: 250px;
    text-align: center;
}

@mixin input{
    border-radius: 5px;
    background-color: $white;
    padding-left: 20px;
    height: 40px;
}

@mixin message{
    width: 300px;
    height: 250px;
    background-color: white;
}

@mixin btn{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 2px white solid;
    text-align: center;
}

@mixin hero{
    height: 500px;
         width: 100%;
        position: relative;
        text-align: center;
        padding-top: 20px;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        margin: 0;


}

html, body{
    box-sizing: border-box;
    line-height: 1.7em;
    font-family: 'Libre Baskerville', sans-serif;
    color: $black-text;
}

a{
    text-decoration: none;
}

p{
    @include text();
    margin: auto
}

.hero p{
    @include content();
}

.link a{
    color: white;
}

.container{
    display: block;
}
    .header{
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;

        &__top{
            background-color: black;
            height: 50px;
            width: 100%;

            .adress-top{
                float: right;
                color: $yellow;
                margin: auto 10px auto auto;
            }
        }

        &__main{
            width: 100%;
            background-color: white;
            @include flex();

            &__content{
                height: 90px;
                @include flex();
                @include content();
                text-align: center;
                margin: auto;

                .logo{
                    margin: auto 0 auto 10px;
                    img{
                        width: 80px;
                        height: 80px;
                        margin: auto;
                    }
                }

                .menu{
                    margin: auto 0 auto 0;
                    width: 60%;
                            li{
                                display: inline;
                                margin: 20px;

                                a{
                                    color: black;
                                    font-weight: bold;
                                }

                                a:hover{
                                    color: $yellow;
                                }
                            }
                      }
                    }

                .adress{
                    color: $black;
                    margin: auto 0 20px 0;
                    @include flex();
                    float: right;

                    .adress-box{
                        flex: 1;
                        font-weight: bold;
                        margin-left: 15px;

                        a{
                            color: $black;
                        }
                    }
                }

        }

        &__bottom{
            height: 30px;
            background-color: $black-dark;
            text-align: center;

            .treatments{
                text-align: center;
                margin: auto;
                li{
                    display: inline;
                    a{
                        color: $white;
                    }

                    a:hover{
                        color: $yellow;
                    }
                }
            }
        }
    }

    .hero{
        @include hero();
        margin: 0;
        background-image: url('public/images/pexels-samad-ismayilov-735552.jpg');

        &__links{
            margin: 15px auto;

            li{
                display: inline;
                a{
                    color: white;
                    margin: 10px;
                }

                a:hover{
                    color: yellow;
                }
            }
        }

        &__main{
            float: right;
            top: 200px;
            right: 10px;
            width: 40%;
            position: absolute;
            text-align: left;

            h1{
                @include title();
                margin: 15px auto;
            }

            p{
                margin: 15px auto;
                color: $white;
            }

            .line{
                @include flex(row);
                hr{
                    color: $yellow;
                    width: 60%;
                }

                a{
                    color: $yellow;
                }


            }


        }
    }

    .about{
        @include flex($flex-direction:row);
        width: 80%;
        flex-direction: row;
        height: 80vh;
        margin: 20px auto;
        text-align: center;

        &__infos{
            flex: 1;
            @include flex($flex-direction:column);
            margin: auto;
            text-align: left;
            padding-top: 0;
                &__content{
                    @include content();
                    margin: 0 auto auto 0;
                    text-align: left;

                    .subtitle{
                        @include subtitle();
                        margin: 0px auto;
                    }

                    p{
                        margin: auto;
                        text-align: left;
                        font-family: 'Poppins', sans-serif;
                    }

                    .numbers{
                        @include flex();
                        margin: 40px auto auto 0;


                        .number{
                            display: block;
                            font-family: 'Poppins';
                            font-weight: bold;

                            span{
                                font-family: 'montserrat';
                                font-size: 2.3em;
                                color: $yellow;
                                font-weight: 800;
                            }


                        }
                    }
                }
            }

            &__image{
                flex: 1;
                @include content();
                margin: 20px auto;


                img{
                    width: 460px;
                    @include image();
                    height: 430px;
                    margin: auto 0;
                }
                }
            }

    .specialities{
            display: block;
            text-align: center;

            h2{
                @include subtitle();
            }

            p{
                margin: 15px auto;
                @include content();
                font-family: 'Libre Baskerville', sans-serif;

            }

            &__list{
                @include flex();
                @include content();
                margin: 40px auto;

                    .speciality{
                        position: relative;
                        margin: 15px;
                        @include image;
                        width: 250px;
                        height: 220px;

                        img{
                            width: 100%;
                            height: 100%;
                            @include image();
                        }

                        h3{
                            margin: -120px auto;
                            text-align: center;
                            color: $white;
                            font-family: 'Vogue', sans-serif;

                        }
                    }
                }

    }

    .center{
        background-color: $black;
        height: 500px;
        text-align: center;
        padding-top: 40px;

        h2{
            @include subtitle();
            margin: 5px auto;
            filter: drop-shadow(0 0 28.5px #e0c15b);
            font-family: 'Vogue', 'sans-serif';
        }

        .text{

            @include content();
            margin: 50px auto;
            color: $white;
            font-family: 'libre Baskerville', sans-serif;
        }

        .slider{
            @include content();
            @include flex();
            margin: 60px auto;

            &__images{
                @include content();
                @include flex();
                margin: auto;
                img{
                    flex: 1;
                    @include image();
                    width: 200px;
                    height: 200px;
                    margin: 0px ;
                }
            }
        }
    }

    .testimonies{
        display: block;
        text-align: center;
        height: auto;

        h2{
            margin: 40px auto;
            @include subtitle();
            font-family: 'Vogue', sans-serif;
        }

        .text{
           @include content();
           @include text();
           margin: 40px auto;
        }

        &__list{
            @include flex();
            margin: 80px auto;
            height: 400px;
            background-color: $bg;
            justify-content: space-around;

            .testimony{
                display: block;
                margin: 20px;
                width: 200px;
                padding: 15px;
                height: auto;
                @include image();
                background-color: $white;
                text-align: left;

                &__top{
                    @include flex();
                    text-align: left;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 30px;
                        margin: auto 0 auto 0;
                    }

                    p{
                        color: $black-text;
                        font-weight: bold;
                        text-align: left;

                        span{
                            color: $yellow;
                            font-weight: bold;
                        }
                    }
                }

                &__text{
                    margin: 50px auto auto 0;
                    text-align: left;
                    width: 100%;
                }
            }
        }

    }

    .blog{
        text-align: center;
        display: block;
        margin: auto;
        height: auto;


        .subtitle{
            @include subtitle();
            margin: 0 auto;
            }

        .text{
            @include text();
            @include content();
            margin: 40px auto
        }

        .cards{
            @include content();
            @include flex;
            margin: auto;
            height: 500px;

            &__card{
                margin: 15px;
                height:  350px;
                width:  270px;
                display: block;
                @include image();
                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include image();
                }

                &__info{
                    background-color: $black-text;
                    text-align: left;
                    position: absolute;
                    width: 100%;
                    height: 35%;
                    top:70%;

                    h4{
                        font-weight: bold;
                        color: $white;
                    }

                    .text{
                        width: 80%;
                        color: $white;
                    }
                }
            }
        }

        .link{
            margin: 10px auto;
            @include link();

            a{
                color: white;
            }
        }


    }

    .speciality-hero{
       @include hero();
       background: url('public/images/epilation-laser-centre-du-champs-de-mars-1536x1171.jpg');
        background-size:cover;
        background-repeat: no-repeat;


       h1{
        @include title();
        margin: 150px auto 50px auto;
        color: $white;
       }

       .text{
            color: $white;
            @include text();
            width: 50%;
       }

       .btn{
            @include btn();
            margin: 30px auto;
            border: 3px solid $white;
            display: table;
            width: 200px;

            a{
                color: white;
                font-weight: bold;
                font-family: 'Poppins';
                vertical-align: middle;
                margin: auto;
            }
       }
    }

    .content{
        width: 100%;
        @include flex;
        height: auto;
        margin: 30px auto;


        &__text{
            flex: 1;
            width: 80%;
            padding-top: 40px;
            text-align: left;

                .subtitle{
                    @include subtitle();
                    margin: 0px auto 20px auto;
                    width: 70%;
                }

                .text{
                    width: 70%;
                    @include text();
                    margin: 40px auto;
                    text-align: left;

                    ul{
                        text-align: left;
                        margin: 40px auto;
                        width: 70%;
                        li{
                            margin: 40px auto;

                        }
                    }
                }
           }

        &__image{
            flex: 1;
            text-align: center;
            @include flex();
            flex-wrap: wrap;
            height: auto;


            &__content{
                margin: 40px auto;
                display: flex;
                padding-top: 10px;
                flex-wrap: wrap;
                height: 250px;
                flex-direction: row;
                justify-content: baseline;


                .item{
                    width: 250px;
                    height: 150px;
                    height: 80px;
                    border-radius: 30px;
                    border: 5px $black-text solid;
                    text-align: center;
                    margin: 5px;
                    display: table;

                        img{
                            width: 40px;
                            height: 40px;
                            display: table-cell;
                            vertical-align: middle;
                            margin: 15px 0 auto auto;
                        }

                        span{
                            margin: 30px auto auto 0;
                            font-weight: bold;
                            display: table-cell;
                            vertical-align: middle;
                            font-family: 'Poppins', sans-serif;;
                        }


                }
            }

            img{
                width: 550px;
                height: 450px;
                border-radius: 15px;
                margin: 50px auto;
            }


        }
    }

    .price{
        width: 100%;
        display: block;
        flex: 1;
        text-align: center;

        .title{
            @include title();
            margin: auto;
        }

        &__list{
            @include flex();
            @include content();
            margin: 40px auto;
            text-align: center;

            .price-card{
                @include flex(column);
                text-align: center;
                width: 250px;

                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 15px;
                }

                h3{
                    font-weight: bold;
                    margin: 60px auto 5px auto;
                }

                .amount{
                    margin: 0px auto;
                }

                .amount{
                    font-weight: 300;
                }




            }


        }

        .link{
            @include link();
            margin: auto;
        }
    }

    .blog-hero{
        @include hero();
        background-image: url(public/images/pexels-samad-ismayilov-735552.jpg);
        @include flex();

        &__image{
            flex: 1;
            @include flex(column);
            text-align: left;
            padding-top: 30px;
            margin: auto;
            filter: drop-shadow(0px 3px 20px rgba(0,0,0,0.1));

            img{
                height: 160px;
                width: 350px;
                margin: auto 120px;
                @include image();

            }

            p{
                margin: 20px auto;
                width: 60%;
                color: $white;
                text-align: left;

                span{
                    color: $white;
                    margin: 30px auto;
                    font-weight: 700;
                    font-size: bold;
                    text-align: left;
                }
            }
        }

        &__articles{
            flex: 1;
            display: block;

            .article{
                margin: 30px auto 0 auto;
                @include flex();
                width: auto;

                img{
                    width: 180px;
                    height: 110px;
                    @include image;
                }

                span{
                    @include text();
                    margin: auto 40px auto 0;
                    text-align: left;
                    font-weight: bold;
                    width: 60%;
                    color: $white;

                }
            }
        }
    }

    .articles{
        display: block;
        padding-top: 40px;

        h2{
            color: $grey-light;
            text-align: left;

        }

        &__content{
            @include content();
            @include flex();
            margin: 30px auto;
            .article{
                @include flex(column);
                text-align: left;
                width: 250px;
                margin: auto;

                img{
                    width: 210px;
                    height: 120px;
                    @include image();
                }

                .date{
                    color: $yellow;
                    margin: 15px auto 5px 0;
                    text-align: left
                }

                .article__title{
                    font-family: 'Poppins';
                    text-align: left;
                    font-size: 1.5em;
                    margin: 5px auto 5px 0;
                }

                p{
                    @include text();
                    margin: 10px auto auto 0;
                    text-align: left;
                    font-size: 1.2em;
                    font-weight: bold;
                    width: 90%;

                    span{
                        font-size: 0.8em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .pagination{
        text-align: center;
        margin: auto;
        @include content();

        li{
            display: inline;;
            a{
                color: $black;
            }

            a:hover{
                color: $yellow;
            }
        }
    }

    .avis{
        @include flex();
        width: 100%;

        &__content{
            @include content();
            @include flex();

            &__form{
                display: block;
                flex: 1;
                width: 80%;

                p{
                    margin: 40px auto 5px auto;
                }

                h1{
                    margin: 15px auto;
                }

                form{
                    display: block;

                    .name{
                        @include flex();

                        label{
                            flex: 1;

                            input{
                                width: 90%;
                                border-radius: 5px;
                                border: 2px solid $grey-light;
                            }

                        .message{
                            border: 2px solid $grey-light;
                           border: 5px;
                           width: 90%;
                           height: 250px;
                        }

                        button{
                            margin: auto 0 auto auto;
                        }
                    }
                }
            }

            }

            &__image{
                position: relative;
                @include content();
                @include flex();
                width: 80%;
                flex: 1;

                .white{
                    height: 300px;
                    width: 450px;
                    @include flex(column);
                    margin: 80px auto 5px auto;
                    z-index: 99999;
                    background-color: whitesmoke;
                    text-align: left;
                    padding-top: 30px;
                    padding-left: 20px;

                    .avis-author{
                        @include flex();

                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 30px;
                        }
                    }

                    p{
                        width: 60%;
                        text-align: left;
                        margin: 10px auto auto 10px;
                    }

                    .date{
                        margin: 10px auto;
                    }
                }

                .black{
                    width: 400px;
                    height: 400px;
                    @include image();
                    top: 0;
                    right: 0;
                    background-color: black;
                     }
            }
        }
    }

    .avis-main{
        width: 100%;
        display: block;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $grey-light;

        &__item{
            @include content();
            height: 200px;
            @include image();
            @include flex();
            background-color: $white;
            margin: 80px auto;

            .avis-author{
                display: flex;
                flex-direction: row;
                justify-content: baseline;
                width: 35%;
                text-align: left;
                padding-top: 0;


                img{
                    border-radius: 50px;
                    height: 60px;
                    width: 60px;
                    margin: 50px 0 auto 80px;
                }

                p{
                    font-weight: bold;
                    margin: 50px auto auto 50px;

                    strong{
                        color: $yellow;
                    }
                }

                .grey{
                    color: grey;
                    font-weight: bold;
                    @include text();
                }
            }

            .avis-text{
                width: 65%;
                @include flex(column);
                display: flex;
                flex-direction: column;
                justify-content: baseline;
            }

            p{
                @include text();
                width: 90%;
                margin: 15px auto;
               }

            .grey{
                color: $grey-light;
            }
        }
    }

    .contact{
        @include content();
        @include flex();
        background-color: $grey-light;
        @include image();
        text-align: center;
        padding-top: 0;
        height: 80vh;

        &__image{
            flex: 1;
            display: block;
            @include content();

            img{
                @include image();
                @include content();
                text-align: left;
                width: 350px;
                height: 110px;
            }

            .text{
                font-weight: bold;
                @include content();

            }

        }

        &__form{
            flex: 1;
            @include flex(column);
            @include content();
            text-align: left;

            .subtitle{
                @include subtitle();
            }

            .name{
                @include flex();

                label{
                    flex: 1;

                    input{
                        @include input();
                    }
                    .message{
                        @include message();
                        width: 300px;
                        height: 250px;
                    }
                }

                button{
                    width: 150px;
                    border: 1px solid $yellow;
                    height: 50px;
                    background-color: $yellow;
                }
            }

            label{

            }
        }
    }

    .footer{
        background-color: $black-dark;
        height: 120px;
        width: 100%;
        text-align: center;

        &__content{
            @include flex();
            @include content();
            margin: auto;

             .logo{
                float: right;
                display: table;
                height: 100%;

                img{
                    width: 50px;
                    height: 50px;
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            .menu{
                margin: auto 0;
                li{
                    text-align: inline;

                    a{
                        color: $white;
                    }

                    a:hover{
                        color: $yellow;
                    }
                }
            }

            .adress{
                margin: auto 0 auto auto;
                float: right;
                @include flex();

                .adress-box{
                    color: $white;
                }
            }
        }
    }


  /*responsive for 1024px*/
  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .container{
        .header{
            &__main{
                &__content{
                    justify-content: baseline;
                    width: 100%;
                    text-align: left;

                    .logo{
                        width: 90px;
                        background-color: purple;
                        margin: auto 0 auto 10px;
                    }

                    .menu{
                        background-color: red;

                    }


                }
            }
        }

        .about{
            width: 90%;
            height: auto;

            &__infos{
                margin: 30px auto;
            }
        }

        .specialities{
            &__list{
                width: 90%;
            }
        }

        .testimonies{
            &__list{
                justify-content: space-between;

                .testimony{
                    width: 220px;
                }
            }
        }

        .blog{
            .cards{
                width: 90%;


            }
        }

        .content{
            margin: 10px auto;
            &__image{

                &__content{
                    .item{
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                img{
                    width:  400px;
                    height: 400px;
                }
            }

            &_text{
                width: 95%;
                padding-top: 10px;
            }
        }

        .price{
            &__list{
                width: 95%;

                .price-card{
                    width: 200px;

                }
            }
        }

        .hero{

        }
    }
  }

   /*responsive for 768px*/
   @media screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        .header{

        }

         .about{
            height: auto;
            display: block;
            text-align: center;

            &__infos{
                margin: auto;
            }

            &__image{
                text-align: center;

                img{
                    width: 400px;
                    height: 350px;
                    margin: 10px auto
                }
            }
        }

        .specialities{
            &__list{
                width: 95%;

                .speciality{
                    width: 220px;
                    height: 190px;
                    margin: 5px;

                    h3{
                        margin: -110px auto;
                    }
                }


            }
        }

        .center{
            .slider{
                width: 95%;

                &__images{
                    width: 100%;

                    img{
                        width: 150px;
                        height: 150px;
                    }
                }
            }
        }

        .testimonies{
            &__list{
                margin: 40px auto;
                height: auto;
                .testimony{
                    width: 250px;
                }
            }
        }

        .blog{
            .cards{
                width: 95%;

                &__card{
                    width: 200px;
                    height: 280px;
                }
            }
        }

        .content{
            @include flex(column);
            text-align: center;

            &__text{
                text-align: center;
                margin: auto;

                .subtitle{
                    width: 90%;
                }
                .text{
                    width: 90%;
                }
            }

            &__image{
                margin: auto;
                &__content{
                    justify-content: space-around;
                    text-align: center;
                    height: 100px;
                    margin: auto 0;
                    .item{
                        width: 220px;
                        margin: 10px;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                img{
                    width: 430px;
                    height: 330px;
                }
            }

        }
    }
}

   /*responsive for 575px*/
@media screen and (min-width: 574px) and (max-width: 767px){
    .hero{

    }

    .about{
        height: auto;
        text-align: center;

        &__infos{
            text-align: center;

            &__content{
                margin: 10px auto;
            }


        }

        &__image{
            img{
                width: 350px;
                height: 280px;
                margin: 10px auto;
            }
        }
    }

    .specialities{
        &__list{
            width: 95%;
            .speciality{
                width: 200px;
                height: 200px;
            }
        }
    }

    .center{
        height: 550px;
        .slider{
            width: 95%;

            &__images{
                width: 100%;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .testimonies__list{
        height: auto;
    }

    .speci

    .blog{
        .cards{
            height: auto;
            text-align: center;

            &__card{
                margin: 15px auto 10px auto;

            }
        }


    }
}

/*responsive for 350px*/
@media screen and (min-width: 350px) and (max-width: 575px){
    .hero{

    }

    .about{
        height: auto;
        text-align: center;
        width: 95%;

        &__infos{
            text-align: center;

            &__content{
                margin: 10px auto;
                width: 100%;

                .numbers{
                    .number{
                        span{
                            font-size: 2em;
                        }
                    }
                }
            }


        }

        &__image{
            img{
                width: 320px;
                height: 250px;
                margin: 10px auto;
            }
        }
    }

    .specialities{

        p{
            width: 95%;
            text-align: left;
        }
        &__list{
            width:100%;
            .speciality{
                width: 150px;
                height: 150px;
                margin: 5px;

                h3{
                    margin: -90px auto;
                }
            }
        }
    }

    .center{
        height: auto;
        .slider{
            width: 95%;
            overflow: hidden;

            &__images{
                width: 100%;

                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    .testimonies{
        &__list{
             .testimony{
                width: 250px;
            }
        }
    }

    .testimonies__list{
        height: auto;
    }

    .blog{
        .cards{
            height: auto;
            text-align: center;

            &__card{
                margin: 15px auto 10px auto;

            }
        }


    }

}