body{
    background-color: grey;
}
.mytabs{
    display: flex();
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 10px auto;
    padding: 25px;
}

.mytabs input[type='radio']{
    display: none;
}

.mytabs label{
    padding: 25px;
    background-color: wheat;
    font-weight: bold;
}

.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
}

.mytabs .tab h2{
    font-size: 2.5em;
}

.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}

.mytabs input[type='radio']:checked + label{
    background-color: beige;
}