    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper{
        max-width: 700px;
        width: 100%;
        margin: 130px auto;
        background-color: #fff;
        padding: 25px 30px 30px 30px;
        border-radius: 5px;
    }

    .wrapper header{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .wrapper nav{
        height: 50px;
        width: 80%;
        display: flex;
        align-items: center;
        position: relative;
    }

    .wrapper nav label{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        color: aqua;
        font-size: 17px;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    #home:checked ~ nav label .home,
    #blog:checked ~ nav label .blog,
    #code:checked ~ nav label .code,
    #help:checked ~ nav label .help{
        color: white;
    }

    .wrapper nav label i{
        padding-right: 7px;
    }

    .wrapper nav .slider{
        position: absolute;
        height: 100%;
        width: 25%;x
        background: aqua;
        border-radius: 5px;
        z-index: 0;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out;
    }

    #blog:checked  ~ nav .slider{
        left: 25%;
    }

    #blog:checked  ~ nav .slider{
        left: 50%;
    }

    #code:checked  ~ nav .slider{
        left: 75%;
    }

    #help:checked  ~ nav .slider{
        left: 100%;
    }