/* Google Fonts - Poppins */


.slider{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}


.slide-container{
  width: 100%;
  padding: 40px 0;
  display: flex;
  height: 50vh;
  background-color: black;
  align-items: center;
  text-align: center;
}
.slide-content{
  overflow: hidden;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 15px;
}

.card-wrapper{
  width: 700px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: baseline;

}
.card{
  border-radius: 25px;
  background-color: #FFF;
  width: 350px;
  height: 250px;
  border-radius: 15px;
  margin: 0px;
}

.card img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.swiper-navBtn{
  color: #E0C15B;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #E0C15B;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #E0C15B;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: black;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
